<!--
//Name: Vishwa Patel, Hifza Hameed
//File: contact-me.ejs
//Date: 13th april, 2023
//Student id:100851337, 100833037
-->
<%- include('partials/contact-me') %>
<% app=app_const; %>

    <%- include('./partials/header', {app: app_const, session, title: "Contact Me" }); %>
        <style>
            body {
                background-color: #FFF;
            }
        </style>

        <header class="main_header">
            <h1> Contact Me </h1>
        </header>

        <!-- Page content-->
        <main>

            <section>

                <div class="container">

                    <div class="row py-5">
                        <div class="col-12 col-md-4 align-self-center">
                            <div class="card">
                                <div class="card-body">
                                    <table class="contact_table">
                                        <tr>
                                            <td colspan="2"><span class="fa fa-map-marker"></span>
                                                <%- app.site_address %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td><span class="fa fa-phone"></span> Phone No:</td>
                                            <td><a href="tel:<%= app.site_phone %>">
                                                    <%= app.site_phone %>
                                                </a></td>
                                        </tr>
                                        <tr>
                                            <td><span class="fa fa-envelope"></span> Email address:</td>
                                            <td><a href="mailto:<%= app.site_email %>">
                                                    <%= app.site_email %>
                                                </a></td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-md-8 py-3">
                            <form id="cform" onsubmit="contact_us_form(event)">

                                <h4>Send us a message</h4>

                                <div class="form-group">
                                    <label>First Name <span class="req">*</span></label>
                                    <input minlength="3" required id="first_name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input id="last_name" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Contact Phone Number</label>
                                    <input id="phone" type="tel" class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Email Address <span class="req">*</span></label>
                                    <input id="email" type="email" required class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>Message <span class="req">*</span></label>
                                    <textarea id="message" required minlength="12" class="form-control"></textarea>
                                </div>
                                <p id="errmsg"></p>
                                <div id="sbutton" class="text-right p-3"><button class="btn btn-primary px-5">Send
                                        Message</button></div>
                            </form>

                        </div>
                    </div>

                </div>
            </section>
        </main>

        <%- include('./partials/footer', {app: app_const}); %>